name: Publish Package

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          filter: tree:0
          fetch-depth: 0

      # Setup bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun install --frozen-lockfile

      - name: Build
        run: bunx nx run-many --target build --all

      - name: Publish packages
        run: bunx nx release publish --access public
